<%= stylesheet_link_tag  "index", "slider/style", :media => "all" %>
<%= javascript_include_tag  "slider/jquery-1.6.2.min", "slider/jquery.easing.1.3", "slider/style", "slider/jquery.mousewheel", "slider/jquery.contentcarousel"  %>
<!--  -->
<%= raw t :index %>

<!-- changed for language -->
<!-- <section class="banner"> 
	<div class="container"> 
		<div class="slider"> 
			<div class="desc gallery"> 
				<div class="desc-head"> 
					<i class="banner-icon"></i>
					Creación de productos personalizados 
				</div> 
				<div class="desc-value">
					Para marketing, promociones y merchandising 
				</div> 
				<img class="pointer" src="assets/pointer-gallery.png"> 
			</div> 
			<div class="desc templates"> 
				<div class="desc-head"> 
					<i class="banner-icon"></i>
					Utilice nuestro ilustraciones exclusivas 
				</div> 
				<div class="desc-value">
					O cargar sus propias imágenes 
				</div> 
				<img class="pointer" src="assets/pointer-templates.png"> 
			</div> 
			<div class="desc interface"> 
				<div class="desc-head"> 
					<i class="banner-icon"></i>
					Personalizar yout camiseta 
				</div> 
				<div class="desc-value">
					Para eventos, bodas, fiestas, equipos y más 
				</div> 
				<img class="pointer" src="assets/pointer-interface.png"> 
			</div> 
			<div class="center-image"> 
				<div id="myCarousel" class="carousel slide"> 
					<ol class="carousel-indicators"> 
						<li data-target="#myCarousel" data-slide-to="0" class="active"> 
						</li> 
						<li data-target="#myCarousel" data-slide-to="1"> 
						</li> 
						<li data-target="#myCarousel" data-slide-to="2"> 
						</li> 
					</ol> 
					<div class="carousel-inner"> 
						<div class="active item"> 
							<img src="/assets/center-image.png"> 
						</div> 
						<div class="item"> 
							<img src="/assets/center-image.png"> 
						</div> 
						<div class="item"> 
							<img src="/assets/center-image.png"> 
						</div> 
					</div> 
					<a class="carousel-control left" href="#myCarousel" data-slide="prev"> 
						<img src="/assets/prev.png"> 
					</a> 
					<a class="carousel-control right" href="#myCarousel" data-slide="next"> 
						<img src="/assets/next.png"> 
					</a> 
				</div> 
			</div> 
		</div> 
	</div> 
</section> 
<section class="testimonials"> 
	<div class="container"> 
		<p>
			Crea tus productos personalizados de 
			<br> Marketing, Promociones y mercancía 
		</p> 
	</div> 
</section> 
<section class="process-steps hi-icon-effect-9 hi-icon-effect-9a"> 
	<div class="container"> 
		<div class="row"> 
			<div class="span4 choose-design"> 
				<a href="" class="hi-icon "> 
					<img src="assets/design-icon.png"> 
				</a> 
				<p class="title">
					Nuestros diseños exclusivos 
				</p> 
			</div> 
			<div class="span4 add-photo"> 
				<a href="" class="hi-icon "> 
					<img src="assets/photo-icon.png"> 
				</a> 
				<p class="title">
					Tus propias imágenes 
				</p> 
			</div> 
			<div class="span4 save-icon"> 
				<a href="" class="hi-icon "> 
					<img src="assets/save-icon.png"> 
				</a> 
				<p class="title">
					Diseño e impresión 
				</p> 
			</div> 
		</div> 
	</div> 
</section> -->
<!-- changed for language -->

<section class="images"> <div class="container">
	<div id="ca-container" class="ca-container featured-slider">
		<div class="ca-wrapper">
			<% @sliders.each_with_index do |slider ,index|%>
			<div class="ca-item ca-item-<%=index%>">
				<img src="<%= slider.image.url%>">
			</div>

			<% end %>
				<!-- <div class="ca-item ca-item-1">
					<img src="assets/ts1.png">
				</div>
				<div class="ca-item ca-item-2">
					<img src="assets/ts2.png">
				</div>
				<div class="ca-item ca-item-3">
					<img src="assets/ts3.png">
				</div>
				<div class="ca-item ca-item-4">
					<img src="assets/ts4.png">
				</div>
				<div class="ca-item ca-item-5">
					<img src="assets/ts2.png">
				</div>
				<div class="ca-item ca-item-6">
					<img src="assets/ts3.png">
				</div> -->
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(document).ready(function() {
		if($('#ca-container .ca-item').length>4){
			$('#ca-container').contentcarousel();
		}
		$('.carousel').carousel()

	});

</script>