<%= stylesheet_link_tag "products","user_settings",:media=>"all" %>
<section class="user-settings">
<div class="container">
    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#profile" data-target="#profile" data-toggle="tab">Profile</a>

                </li>
                <li><a href="#order" data-target="#order" data-toggle="tab">Order Details</a>

                </li>
                <li><a href="#products" data-target="#products" data-toggle="tab">Products Details</a>

                </li>
            </ul>
            <div class="tab-content category-products">
                <div class="tab-pane active fade in" id="profile">Profile tab content</div>
                <div class="tab-pane" id="order">Order tab content</div>
                <div class="tab-pane" id="products">
                	<div class="span9 product-list">
				<div class="result-no"><%=@products.count%> <%= t(:result_found) %></div>
				<div class="all-products">
					<% @products.each do |product| %>
					<div class="product-list-item">
						<div class="close-full hide">x</div>
						<div class="thumb">
							<div class="show-full">
								<div class="hide-show-img"></div>
								<img src="<%=product.try(:image).try(:url)%>">
								<div class="name"><%=product.name%></div>
							</div>
							<a href="/designs/<%=product.id%>" class="choose-btn" title="">Choose</a>
						</div>
						<div class="full-details hide	">
							<div class="left-side">
								<img src="<%=product.try(:image).try(:url)%>">
							</div>
							<div class="right-side">
								<div class="name"><%=product.name%></div>
								<div class="images">
									<img src="<%=product.try(:image).try(:url)%>">
									<img src="<%=product.try(:second_image).try(:url)%>">
								</div>
								<div class="price-by-size">
									<div class="title">Various Price</div>
									<div class="list-size">
									     <!-- <%product.try(:product_attributes).try(:each) do |attribute| %>
                                            <label><span><%=attribute.attribute_name%></span><span> : <%=session[:currency].html_safe if session[:currency].present?%><%=attribute.price%></span></label>

									     <% end %> -->
										<label><span>YXS</span> - $15</label>
										<label><span>ys</span> - $15</label>
										<label><span>ym</span> - $15</label>
										<label><span>yl</span> - $15</label>
										<label><span>yxl</span> - $15</label>
										<label><span>s</span> - $15</label>
										<label><span>m</span> - $15</label>
										<label><span>l</span> - $15</label>
										<label><span>xl</span> - $15</label>
										<label><span>xxl</span> - $15</label>
										<label><span>3xl</span> - $15</label>
										<label><span>4xl</span> - $15</label>
										<label><span>5xl</span> - $15</label>
									</div>
								</div>
							</div>
							<div class="desc">
								<div class="title">Description</div>
								<p><%=product.description%></p>
								<div class="title">Category</div>
								<p><%=product.try(:category).try(:name)%></p>
								<a href="/designs/<%=product.id%>" class="choose-btn" title="">Choose</a>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


<script type="text/javascript">
	$(document).ready(function(){
		$(document).on("click",".show-full",function(){
			$(".close-full").each(function(){
				$(this).trigger("click")
			});
			$(".all-products").prepend($(this).closest(".product-list-item"));
			$(this).closest(".product-list-item").find(".thumb").hide(200);
			$(this).closest(".product-list-item").find(".full-details").show();
			$(this).closest(".product-list-item").find(".close-full").removeClass("hide");
			$(window).scrollTop(70);
			return false;
		});

		$(document).on("click",".close-full",function(){
			$(this).closest(".product-list-item").find(".thumb").show();
			$(this).closest(".product-list-item").find(".close-full").addClass("hide");
			$(this).closest(".product-list-item").find(".full-details").hide(200);
			return false;
		});

		$(document).on("click",".full-details .images img",function(){
			$(this).closest(".full-details").siblings(".left-side").find(img).attr("src",$(this).attr("src"));
			
		});
	});
</script>