<%= stylesheet_link_tag  "checkout-complete", :media => "all" %>
	<section class="checkout-page">
		<div class="container">

			<div class="page-title">Checkout</div>

			<fieldset class="my-account">
				<div class="title"><%=t(:my_account)%></div>
				<div class="field">
					<label>Email *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
			</fieldset>
			<div class="clearfix"></div>

			<fieldset class="billing-address">
				<div class="title"><%=t(:billing_address)%></div>
				<div class="field">
					<label><%=t(:country)%> *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:f_name)%> *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:l_name)%> *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:company)%></label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:address)%> 1*</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:address)%> 2</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:city)%> *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:state)%> *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:postal_code)%> *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:phone)%> *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="show-shipping-address">
					<input type="checkbox" name="" value="" id="differ-address">
					<label for="differ-address"><%=t(:use_shipping)%>.</label>
				</div>
			</fieldset>
			<div class="clearfix"></div>

			<fieldset class="shipping-address hide">
				<div class="title"><%=t(:billing_address)%></div>
				<div class="field">
					<label><%=t(:country)%> *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:f_name)%> *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:l_name)%> *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:company)%></label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:address)%> *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:address)%> 2</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:state)%> *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:postal_code)%> *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:phone)%> *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
			</fieldset>
			<div class="clearfix"></div>

			<fieldset class="shipping-sub-total">
				<div class="title"><%=t(:shipping_total)%></div>
				<div class="field">
					<label><%=t(:cart_total)%></label>
					<input type="text" name="" readonly="readonly" value="<%=@total  %>" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:ship_handle)%></label>
					<input type="text" name="" readonly="readonly" value="<%=@shipping %>" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:tax)%></label>
					<input type="text" name="" readonly="readonly" value="<%=@tax  %>" placeholder="">
				</div>
				<div class="field">
					<label><%=t(:order_total)%></label>
					<input type="text" name="" readonly="readonly" value="<%=@payment_amount  %>" placeholder="">
				</div>
			</fieldset>
			<div class="clearfix"></div>

			<fieldset class="payment-types">
				<div class="title"><%=t(:shipping_total)%></div>
				<div class="field">
					<img src="/assets/logo-visa.png">
					<img src="/assets/logo-master-card.png">
					<img src="/assets/logo-paypal.png">
				</div>
			</fieldset>
			<div class="clearfix"></div>
			<button type="submit" class="btn btn-success btn-large pull-right"><%=t(:payment_complete)%></button>
			<div class="clearfix"></div>
		</div>
	</section>



	<script type="text/javascript">
		$(document).ready(function(){
			$(document).on("change",".show-shipping-address input",function(){
					$(".shipping-address").toggle();
			});

			$(document).on("click",".payment-types img",function(){
					$(".payment-types img").each(function(){$(this).removeClass("selected")});;
					$(this).addClass("selected");
			});
		});
</script>