<body>
	<header>
		<div class="container">
			<p class="change-language">
			<span>Change Language :</span>
				<% if(I18n.locale.to_s == "en")%>
				<%= link_to "Spanish", url_for(:locale => "es")%>
				<% else %>
				<%= link_to "English", url_for(:locale => "en")%>
				<% end %>
			</p>
			<a href="/" class="home-link" title="">
				<img src="/assets/logoa.png">
				<span class="logo-name">Mobby<span>art</span></span>
			</a>
			<nav class="cl-effect-21">
				<a href="/"><%= t :home %></a>
				<a href="/about_us"><%= t :about %></a>
				<a href="/designs"><%= t :create %></a>
				<a href="/contact"><%= t :contact %></a>
				<% if user_signed_in? %>
				<%= link_to t(:sign_out), destroy_user_session_path, method: :delete %>
				<% else %>
				<%= link_to t(:sign_in), new_user_session_path %>
				<% end %>
			</nav>
		</div>
		
	</header>
	<p>
		<% flash.each do |name, msg| %>
		<% if msg.is_a?(String) %>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
		<% end %>
	</p>
